body {
    background-color: #f7f7f7;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.form label {
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.form input,
.form select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 10px;
    background-color: #289fa7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(0, 110, 255);
}